.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 0.5s, transform 0.5s;
}

.feynman__link:hover {
  opacity: 50%;
  transform: scale(1.1);
}