* {
  margin : 0;
  padding : 0;
}
  
.page {
  min-width : 1100px;
  max-width : 1600px;
  margin : 0 auto;
  font-family : 'Helvetica Neue', Arial, sans-serif;
  }

.header {
  height : 100vh;
  min-height : 600px;
  max-height : 756px;
  display : flex;
}

.logo_place_header {
  position : absolute;
  margin-top : 30px;
  margin-left : 64px;
  }
  
.header__title {
  display : flex;
  width : 730px;
  padding-left : 64px;
  justify-content : flex-start;
  align-self : center;
}

.header__subtitle {
  position : absolute;
  width : 388px;
  margin-left : 64px;
  justify-content : end;
  bottom : 30px;
}

.header__square-pic {
  position : absolute;
  height : 568px;
  width : 568px;
  top : 64px;
  right : 0;
  background-color : #2f80ed;
}
  
.header__main-illustration {
  position : absolute;
  right : 0;
  bottom : 0;
}



.table__cell_theme_dark {
  width : 200px;
  color : white;
  margin-right : 0;
  margin-top : 80px;
}
